body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.container {
    margin: auto;
    margin-top: 118px;
    max-width: 580px;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
}

h2 {
    font-size: 28px;
    line-height: 33px;
}

.rating-container {
    display: flex;
}

.rating-num {
    font-size: 44px;
    margin-right: 24px;
}

.rating-star {
    flex: 2;
    align-self: center;
}

.rating-star * {
    margin-right: 5px;
}

.btn {
    background: #ffffff;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    border-radius: 4px;
    height: 48px;
    width: 141px;
    font-family: "Helvetica Neue", sans-serif;
    /*font-weight: 700; Leaving out because I don't have Helvetica Neue and 700 looks weird in this font*/
    font-size: 17px;
    color: #797874;
}

.add-review {
    flex: 1;
    justify-self: flex-end;
}

.h-rule {
    border-top: 1px solid #b9b9b9;
    margin: 57px 0 47px 0;
    height: 0px;
}

.review-container {
    display: flex;
}

.review-star {
    margin: 0 29px 29px 0;
}

.review-star * {
    margin-right: 5px;
}

.review-num {
    font-weight: 700;
}

.review-num::after {
    content: ',';
    margin-right: 5px;
}

.review-desc {
    color: #797874;
}

input {
    border: none;
}

.overlay-rating-container h2 {
    line-height: 40px;
}

.submit-review {
    display: block;
    margin-top: 40px;
}

.rating-overlay {
    border-radius: 20px;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
.modal-bg {
    position: absolute;
    background: #797874;
    width: 100%;
    height: 100%;
}
.rating-overlay {
    border-radius: 10px;
    background: #fff;
    position: relative;
    padding: 30px;
}
.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    color: #797874;
    background: none;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
}